{% extends '@IServCore/page.html.twig' %}

{% block page_title %}{{ _('Benutzer nacherfassen') }}{% endblock %}

{% block content %}
    {% include '@PulsRSportabzeichen/admin/_tabs.html.twig' %}

    <div class="panel panel-default">
        <div class="panel-body">
            {# ... #}
            
            {% if limit_reached %}
                <div class="alert alert-warning">
                    {{ icon('exclamation-triangle') }}
                    {{ _('Die Liste wurde aus Performance-Gründen auf 200 Einträge begrenzt.') }}
                    {{ _('Bitte fügen Sie fehlende Benutzer ggf. direkt über den Nutzernamen hinzu, falls sie hier nicht erscheinen.') }}
                </div>
            {% endif %}

            {# Da wir jetzt nur 200 Leute laden, funktioniert die JavaScript-Suche 
               nur innerhalb dieser 200 Leute. Das ist wichtig zu wissen! #}
            
            <div class="table-responsive">
               {# ... Tabelle ... #}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Pfad anpassen, falls dein Asset-Package anders heißt #}
    <script src="{{ asset('js/admin_participants.js', 'pulsr-sportabzeichen') }}"></script>
{% endblock %}