{# templates/admin/_tabs.html.twig #}
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
    
    <li class="{{ activeTab == 'dashboard' ? 'active' : '' }}">
        <a href="{{ path('sportabzeichen_admin_dashboard') }}">
            {{ icon('home') }} {{ _('Übersicht') }}
        </a>
    </li>

    <li class="{{ activeTab == 'participants_manage' ? 'active' : '' }}">
        <a href="{{ path('sportabzeichen_admin_participants_index') }}">
            {{ icon('users') }} {{ _('Teilnehmer') }}
        </a>
    </li>

    <li class="{{ activeTab == 'import' ? 'active' : '' }}">
        <a href="{{ path('sportabzeichen_admin_upload_participants') }}">
            {{ icon('upload') }} {{ _('Import') }}
        </a>
    </li>

    <li class="{{ activeTab == 'requirements' ? 'active' : '' }}">
        <a href="{{ path('sportabzeichen_admin_upload') }}">
            {{ icon('list-alt') }} {{ _('Anforderungen') }}
        </a>
    </li>

</ul>