<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gruppenprüfkarte Sportabzeichen</title>
    
    {# Einbindung des externen CSS Files #}
    <link rel="stylesheet" href="{{ asset('css/print_groupcard.css') }}">
</head>
<body>

{% for batch in batches %}
    <div class="sheet">
        
        {# SVG Hintergrund #}
        <img src="{{ asset('img/dsa_groupcard.svg') }}" class="bg-svg" alt="Hintergrund">

        <div class="data-layer">
            
            {# HEADER #}
            <div class="header-info">
                <div class="header-item w-club"></div>
                <div class="header-item w-school">Schule</div>
                <div class="header-item w-org"></div>
                <div class="header-item w-city">Musterstadt / DE</div>
            </div>

            {# TABELLE #}
            <div class="table-container">
                <table>
                    <colgroup>
                        <col class="col-name">
                        <col class="col-gender">
                        <col class="col-birth">
                        {# 4x Disziplinen #}
                        <col class="col-dis-nr"><col class="col-dis-res"><col class="col-dis-pts">
                        <col class="col-dis-nr"><col class="col-dis-res"><col class="col-dis-pts">
                        <col class="col-dis-nr"><col class="col-dis-res"><col class="col-dis-pts">
                        <col class="col-dis-nr"><col class="col-dis-res"><col class="col-dis-pts">
                        <col class="col-swim">
                        <col class="col-sum">
                    </colgroup>
                    
                    {% for row in batch %}
                        <tr>
                            <td>
                                {% if row is not null %}
                                    {# ÄNDERUNG: Direktzugriff ohne .user #}
                                    {{ row.lastname }}, {{ row.firstname }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td class="col-gender">
                                {% if row is not null %}
                                    {# ÄNDERUNG: Geschlecht wird oft als 'MALE'/'FEMALE' gespeichert. 
                                       Wir nehmen den ersten Buchstaben und machen ihn klein (m/w/d). #}
                                    {% set g = row.geschlecht|first|lower %}
                                    {% if g == 'm' %}m
                                    {% elseif g == 'f' or g == 'w' %}w
                                    {% else %}d{% endif %}
                                {% endif %}
                            </td>
                            <td class="col-birth">
                                {% if row is not null %}
                                    {# ÄNDERUNG: Wir haben im SQL "age_year" abgerufen. #}
                                    {{ row.age_year }}
                                {% endif %}
                            </td>
                            
                            {# Leere Zellen für die SVG-Linien #}
                            <td></td><td></td><td></td>
                            <td></td><td></td><td></td>
                            <td></td><td></td><td></td>
                            <td></td><td></td><td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {# FOOTER #}
            <div class="footer-verifier">
                Prüfer: {{ app.user.firstname }} {{ app.user.lastname }}
            </div>
             <div class="footer-date">
                {{ today|date('d.m.Y') }}
            </div>

        </div>
    </div>
{% endfor %}

</body>
</html>