<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gruppenprüfkarte Sportabzeichen</title>
    
    {# Einbindung des externen CSS Files #}
    <link rel="stylesheet" href="{{ asset('css/print_groupcard.css') }}">
</head>
<body>

{% for batch in batches %}
    <div class="sheet">
        <img src="{{ asset('img/dsa_groupcard_18.svg') }}" class="bg-svg">

        <div class="data-layer">
            {# Header-Info mit Jahr aus der XSLT Logik #}
            <div class="header-year" style="position: absolute; left: 31mm; top: 14.7mm; font-weight: bold;">
                {{ exam_year|slice(0,1) }} &nbsp; {{ exam_year|slice(1,1) }} &nbsp; {{ exam_year|slice(2,1) }} &nbsp; {{ exam_year|slice(3,1) }}
            </div>

            <div class="table-container" style="margin-top: 89mm; margin-left: 7.1mm;">
                <table style="width: 100%; border-collapse: collapse;">
                    {% for p in batch %}
                        <tr style="height: 5.7mm; vertical-align: middle; font-size: 10pt;">
                            {# Name/Vorname (64mm laut XSLT) #}
                            <td style="width: 64mm;">
                                {% if p %}{{ p.lastname }}, {{ p.firstname }}{% endif %}
                            </td>
                            {# Geschlecht (5.2mm) #}
                            <td style="width: 5.2mm; text-align: center;">
                                {% if p %}{{ p.geschlecht|first|lower }}{% endif %}
                            </td>
                            {# Geburtsdatum / Jahr (19mm) #}
                            <td style="width: 19mm; text-align: center;">
                                {% if p %}{{ p.age_year }}{% endif %}
                            </td>

                            {# Die 4 Disziplin-Blöcke (jeweils Nr, Ergebnis, Punkte) #}
                            {% if p %}
                                {% for i in 1..4 %}
                                    <td style="width: 8mm; text-align: center;">{{ p.disciplines[i].nr }}</td>
                                    <td style="width: 19mm; text-align: center;">{{ p.disciplines[i].res }}</td>
                                    <td style="width: 8mm; text-align: center;">{{ p.disciplines[i].pts }}</td>
                                {% endfor %}
                            {% else %}
                                {# Leere Zellen für 4 Disziplinen #}
                                {% for i in 1..12 %}<td></td>{% endfor %}
                            {% endif %}

                            {# Schwimmnachweis (8mm) #}
                            <td style="width: 8mm; text-align: center;">
                                {% if p and p.has_swimming %}ja{% endif %}
                            </td>
                            {# Summe (8mm) #}
                            <td style="width: 8mm; text-align: center;">
                                {% if p %}{{ p.total_points }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {# ... Footer wie zuvor ... #}
        </div>
    </div>
{% endfor %}

</body>
</html>